@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject IViewLocalizer Localizer
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.Identity.Name;

    }
}
@{
    var logo = Configuration.GetValue<string>("LogoUrl");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  | Tripbricks.com Account </title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="login-container">
        <div class="login-page">
            <div class="login-logo">
                <img src=@logo alt="Logo" />
            </div>
            @RenderBody()
            <div class="footer-copyright">
                <div class="col-md-12 mt-3">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
                <span>All rights reserved.</span> <br />
                <span>Copyright 2019 – Tripbricks.com™</span>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>